* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .navigation-section {
        width: 100%;
        position: relative;
        min-height: 1000px;
        overflow: hidden;

        .header-image {
            position: absolute;
            z-index: -2;
            width: 100%;
            // height: 40vmin;
            top: -30em;
            min-height: 1700px;
            object-fit: cover;
        }

        .image-tint {
            background-color: rgba(200, 100, 0, .5);
            background-blend-mode: multiply;
        }

        .header-image-tint {
            position: absolute;
            z-index: -1;
            height: 1000px;
            width: 100%;
            // height: 40vmin;
            // top: -30em;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .navigation-container {
            width: 1170px;
            max-width: 100%;
            // background-color: aqua;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // z-index: 1;
            font-family: "Roboto", sans-serif;

            .navigation-bar-left {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .navigation-logo {
                    height: 70px;
                }

                .navigation-header {
                    width: 250px;
                    // background-color: #ce9233;
                    text-align: center;
                    font-size: 1.7em;
                    color: white;
                }
            }

            .navigation-bar-right {


                .navigation-links-container {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // background-color: pink;
                    width: 700px;

                    .navigation-links {
                        margin: 0 1.5em;
                        // width: 120px;
                        // width: ;

                        .links {
                            font-size: 1.1em;
                            padding: .2em .3em;
                            text-decoration: none;
                            color: white;
                            font-weight: 500;
                        }
                        
                        .links.active {
                            border: 2px solid #ce9233;
                        }
                    }
                }
            }
        }

        .navigation-information-container {
            height: 450px;
            width: 750px;
            // background-color: pink;
            position: absolute;
            left: 0;
            right: 0;
            top: 20em;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            .information-header {
                font-size: 3.5em;
                text-align: center;
                color: white;
                font-family: "Alfa Slab One", serif;
                font-weight: 400;
                font-style: normal;
            }

            .information-link-button {
                font-size: 2em;
                padding: .1em 1em;
                background-color: #ce9233;
                border: none;
            }
        }
    }

    .main-section {
        // border: 1px solid black;
        // height: 200px;
        width: 100%;
        background-color: aliceblue;
        padding: 4em 0;

        .main-section-container {
            // background-color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1170px;
            max-width: 100%;
            margin: 0 auto;

            .main-image-container {
                width: 50%;
                height: 800px;
                // background-color: aqua;
                position: relative;

                .image-container-1 {
                    position: absolute;
                    top: 1em;
                    left: 13em;

                    img {
                        height: 470px;
                    }
                }

                .image-container-2 {
                    position: absolute;
                    bottom: 1em;
                    left: 2em;

                    img {
                        height: 315px;
                    }
                }
            }
        }

        .main-information-container {
            width: 50%;
            // background-color: #ce9233;
            padding-left: 2em;
            font-family: "Roboto", sans-serif;

            .main-information-header {
                border: 3px solid #ce9233;
                width: 230px;
                text-align: center;
                padding: .2em .5em;
                font-size: 1.2em;
            }

            .main-information-header-2 {
                font-size: 4em;
                font-family: "Alfa Slab One", serif;
                font-weight: 400;
                font-style: normal;
                padding: .3em 0;
            }

            .main-information-description {
                font-weight: 400;
                font-size: 1.1em;
            }

            .main-sub-information {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2em 1em;

                .sub-information-left {
                    width: 67%;
                    // background-color: antiquewhite;

                    .sub-information {
                        list-style: none;

                        .sub-check-list {
                            margin: .5em 0;
                        }
                    }
                }

                .sub-information-right {
                    width: 33%;
                    // background-color: aliceblue;


                    .sub-offer-headers {
                        font-size: 1.1em;
                        font-weight: 500;
                        border: 2px solid #ce9233;
                        text-align: center;
                        margin: .9em auto;
                        width: 160px;
                        padding: .4em 0;
                    }
                }
            }

            .main-information-tagline {
                font-size: 2em;
                text-align: center;
                border: 3px solid #ce9233;
                margin-top: .9em;
                padding: .3em 0;
            }
        }
    }

    .contact-section {
        width: 100%;
        height: 350px;
        background-color: #ce9233;
        display: flex;
        align-items: center;

        .contact-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 1170px;
            // background-color: green;
            margin: 0 auto;

            .contact-header {
                font-size: 3em;
                width: 50%;
                font-family: "Alfa Slab One", serif;
            }

            .contact-us-link-button {
                font-size: 1.5em;
                border: 2px solid black;
                padding: .7em 1.8em;
                border: none;
                cursor: pointer;
                transition: .1s all linear;
            }
            
        }
    }

    .education-section {
        width: 100%;
        background-color: aliceblue;

        .education-container {
            width: 1170px;
            margin: 0 auto;
            // background-color: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 4em 0;
            font-family: "Roboto", sans-serif;

            .education-header {
                border: 3px solid #ce9233;
                width: 230px;
                text-align: center;
                padding: .2em .5em;
                font-size: 1.2em;
            }

            .education-header-2 {
                font-size: 4.4em;
                font-family: "Alfa Slab One", serif;
                padding: .7em 0;
            }

            .education-card-container {
                width: 100%;
                height: 700px;
                // background-color: green;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                .education-cards {
                    width: 350px;
                    height: 600px;
                    // border: 1px solid black;
                    position: relative;
                    overflow: hidden;
                    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);

                    .education-image {
                        width: 100%;
                        position: absolute;
                        top: -100px;

                    }

                    .education-image-2 {
                        width: 144.2%;
                        position: absolute;
                        // top: -100px;

                    }

                    .card-info-container {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
                        position: absolute;
                        bottom: 0;
                        // background-color: pink;
                        height: 265px;

                        .card-title {
                            font-size: 1.7em;
                        }

                        .card-description {
                            text-align: center;
                        }

                        .read-more-button {
                            font-size: 1em;
                            padding: .4em 7em;
                            border: none;
                            position: relative;
                        }
                        .read-more-button.btn-background-slide::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                            background-color: #ce9233;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: .2s all ease-out;
                        }
                        .read-more-button.btn-background-slide:hover::before,
                        .read-more-button.btn-background-slide:focus::before {
                            transform: scaleX(1);
                        }
                        .read-more-button.btn-background-slide {
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    .owner-message-section {
        width: 100%;
        background-color: aliceblue;
        padding-bottom: 6em;

        .owner-message-container {
            width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .message-container-left {
                width: 60%;
                // background-color: greenyellow;

                .message-header {
                    border: 3px solid #ce9233;
                    width: 230px;
                    text-align: center;
                    padding: .2em .5em;
                    font-size: 1.2em;
                    font-family: "Roboto", sans-serif;
                }

                .message-header-2 {
                    font-size: 4.4em;
                    font-family: "Alfa Slab One", serif;
                    padding: .5em 0;
                }

                .owner-image {
                    border-radius: 50%;
                    height: 200px;
                    border: 3px solid #ce9233;
                    margin-left: 1em;
                }

                .owner-message {
                    font-family: "Roboto", sans-serif;
                    // font-weight: 400;
                    font-size: 1.3em;
                    font-style: italic;
                    padding: 1.2em 0;
                    letter-spacing: 2px;
                }

                .owner-name {
                    font-size: 1em;
                    font-family: "Roboto", sans-serif;
                }
            }

            .message-container-right {
                width: 35%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                // background-color: aliceblue;

                .quality-containers {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    width: 100%;
                    margin: .3em 0;

                    .quality-image-container {
                        height: 60px;
                        width: 25%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ce9233;
                        padding: 3em 0;

                        .quality-image {
                            height: 50px;
                            // width: 60px;
                            // margin: 0 auto;
                        }

                    }

                    .quality-header {
                        width: 75%;
                        justify-self: flex-start;
                        // color: #ce9233;
                        font-size: 1.6em;
                        font-family: "Roboto", sans-serif;
                        font-weight: 500;
                        margin-left: .6em;
                    }
                }
            }
        }
    }

    .footer-section {
        height: 520px;
        width: 100%;
        background-color: #171612;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-container {
            width: 1170px;
            // background-color: #ce9233;

            .footer-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .footer-left {
                    width: 33%;

                    .footer-logo-container {
                        width: 80%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .footer-logo {
                            height: 70px;
                        }

                        .footer-logo-header {
                            // width: 290px;
                            // background-color: #ce9233;
                            text-align: center;
                            font-size: 1.7em;
                            color: white;

                        }

                    }

                    .footer-header {
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        padding: 2em 0;
                        font-size: 1em;
                        line-height: 1.5;
                        color: #9a9693;
                    }
                    
                    .footer-contact-us-button {
                        font-size: 1.5em;
                        // border: 2px solid black;
                        padding: .7em 1.8em;
                        border: none;
                        background-color: #ce9233;
                        color: white;
                        position: relative;
                    }
                    .footer-contact-us-button.btn-background-slide::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                        background-color: #9a9693;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: .2s all ease-out;
                    }
                    .footer-contact-us-button.btn-background-slide:hover::before,
                    .footer-contact-us-button.btn-background-slide:focus::before {
                        transform: scaleX(1);
                    }
                    .footer-contact-us-button.btn-background-slide {
                        z-index: 1;
                    }
                }
                
                .footer-middle {
                    width: 33%;
                    // background-color: aliceblue;
                    padding: 0 3em;
                    align-self: flex-start;

                    .footer-links-header {
                        font-size: 1.8em;
                        font-family: "Roboto", sans-serif;
                        padding-bottom: 2em;
                        color: white;
                    }

                    .footer-links-container {
                        list-style: none;

                        .footer-links {
                            font-family: "Roboto", sans-serif;

                            i {
                                margin: .4em 0;
                                color: #ce9233;
                            }

                            a {
                                text-decoration: none;
                                margin-left: .4em;
                                color: #9a9693;
                            }
                        }
                    }
                }

                .footer-right {
                    width: 33%;
                    // background-color: aliceblue;
                    padding: 0 2.7em;
                    align-self: flex-start;

                    .footer-contact-header {
                        font-size: 1.8em;
                        font-family: "Roboto", sans-serif;
                        padding-bottom: 1em;
                        color: white;
                    }

                    .footer-contact-containers {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        // background-color: aquamarine;
                        margin: 1em 0;
                        padding: .6em 0;
                        border-bottom: 1px solid grey;

                        i {
                            // background-color: aqua;
                            width: 30px;
                            justify-self: flex-start;
                            color: #ce9233;
                        }

                        .contact-header {
                            // font-size: 1.8em;
                            font-weight: 500;
                            font-family: "Roboto", sans-serif;
                            color: #9a9693;
                        }
                    }
                }
            }

            .footer-bottom {
                // background-color: aqua;
                // width: 100%;
                height: 165px;
                // background-color: #12100f;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .footer-socials-container {

                    i {
                        font-size: 1.9em;
                        margin: 0 .3em;
                        color: white;
                        cursor: pointer;
                    }
                }
                
                .footer-copyright {
                    font-family: "Roboto", sans-serif;
                    padding-top: 1.3em;
                    font-weight: 400;
                    color: #ce9233;
                }
            }
        }
    }
}