* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}
body .hamburger-menu-links-container {
  display: none;
  background-color: rgb(15, 15, 15);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  left: 100%;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container {
  width: 100%;
  height: 3em;
  background-color: black;
  border-bottom: 1px solid rgb(48, 48, 48);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container .hamburger-menu-exit-button-container {
  height: 30px;
  width: 30px;
  margin-right: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container .hamburger-menu-exit-button-container .hamburger-menu-exit-button {
  transform: rotate(45deg);
  height: 2px;
  width: 20px;
  background-color: white;
  position: absolute;
}
body .hamburger-menu-links-container .hamburger-menu-exit-container .hamburger-menu-exit-button-container .hamburger-menu-exit-button::after {
  content: "";
  transform: rotate(90deg);
  height: 2px;
  width: 20px;
  background-color: white;
  position: absolute;
}
body .hamburger-menu-links-container .hamburger-links-container {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li {
  font-family: sans-serif;
  font-size: 19px;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li a {
  text-decoration: none;
  color: white;
}
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li a:hover,
body .hamburger-menu-links-container .hamburger-links-container .hamburger-navigation-links li a:active {
  transition: 0.1s linear all;
  color: red;
}
body .hamburger-menu-links-container.slide-in {
  animation: right-to-left 0.4s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .hamburger-menu-links-container.slide-out {
  animation: left-to-right 0.4s ease-out forwards;
}
body .navigation-section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
body .navigation-section .header-image {
  position: absolute;
  z-index: -2;
  width: 100%;
  top: -30em;
  min-height: 2000px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .navigation-section .image-tint {
  background-color: rgba(200, 100, 0, 0.5);
  background-blend-mode: multiply;
}
body .navigation-section .header-image-tint {
  position: absolute;
  z-index: -1;
  height: 1000px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
body .navigation-section .navigation-container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
body .navigation-section .navigation-container .navigation-bar-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .navigation-section .navigation-container .navigation-bar-left .navigation-logo {
  height: 70px;
}
body .navigation-section .navigation-container .navigation-bar-left .navigation-header {
  width: 250px;
  text-align: center;
  font-size: 1.7em;
  color: white;
}
body .navigation-section .navigation-container .navigation-bar-right .navigation-links-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}
body .navigation-section .navigation-container .navigation-bar-right .navigation-links-container .navigation-links {
  margin: 0 1.5em;
}
body .navigation-section .navigation-container .navigation-bar-right .navigation-links-container .navigation-links .links {
  font-size: 1.1em;
  padding: 0.2em 0.3em;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
body .navigation-section .navigation-container .navigation-bar-right .navigation-links-container .navigation-links .links.active {
  border: 2px solid #ce9233;
}
body .navigation-section .navigation-container .navigation-bar-hamburger {
  width: 100%;
  height: 3em;
  visibility: hidden;
}
body .navigation-section .navigation-container .navigation-bar-hamburger .navigation-hamburger-menu-container {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  list-style: none;
  margin: 0.75em 2em 0 2em;
  padding: 0.8em 0.5em;
  cursor: pointer;
}
body .navigation-section .navigation-container .navigation-bar-hamburger .navigation-hamburger-menu-container .hamburger-menu {
  height: 2px;
  width: 20px;
  background-color: white;
}
body .navigation-section .navigation-container .navigation-bar-hamburger .navigation-hamburger-menu-container .hamburger-menu::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: white;
  transform: translateY(7px);
}
body .navigation-section .navigation-container .navigation-bar-hamburger .navigation-hamburger-menu-container .hamburger-menu::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: white;
  transform: translateY(-7px);
}
body .navigation-section .navigation-information-container {
  height: 450px;
  width: 750px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body .navigation-section .navigation-information-container .information-header {
  font-size: 3.5em;
  text-align: center;
  color: white;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
body .navigation-section .navigation-information-container .information-link-button {
  font-size: 2em;
  padding: 0.1em 1em;
  background-color: #ce9233;
  border: none;
}
body .student-services-section {
  padding: 4em 0;
}
body .student-services-section .student-services-container {
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0 0.4em;
}
body .student-services-section .student-services-container .application-requirements-title {
  padding: 0.8em 0;
}
body .student-services-section .student-services-container .requirements-list {
  margin-left: 2em;
}
body .student-services-section .student-services-container .requirement-note {
  padding: 1em 0;
  font-size: 1.1em;
  font-style: italic;
}
body .student-services-section .student-services-container .admissions-title {
  font-size: 2em;
  padding: 0.8em 0;
}
body .student-services-section .student-services-container .coordinator-information-container h2 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0.1em 0;
}
body .student-services-section .student-services-container .school-tours-note {
  padding: 1em 1.5em;
  margin-top: 2em;
}
body .student-services-section .student-services-container .school-tours-note span {
  color: red;
}
body .student-services-section .student-services-container .tuition-title {
  font-size: 2em;
  padding-top: 0.8em;
}
body .student-services-section .student-services-container .tuition-text {
  margin: 2em 0;
  font-weight: 400;
}
body .student-services-section .student-services-container .tuition-note {
  text-align: center;
}
body .student-services-section .student-services-container .tuition-rates-title {
  font-size: 2em;
  padding-top: 0.8em;
}
body .student-services-section .student-services-container .tuition-rates-subtitle {
  font-size: 1.1em;
}
body .student-services-section .student-services-container .tuition-information-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .student-services-section .student-services-container .tuition-information-container .tuition-cost-container table {
  margin: 1em 0;
}
body .student-services-section .student-services-container .tuition-information-container .tuition-cost-container table tr {
  margin: 0.2em;
}
body .student-services-section .student-services-container .tuition-information-container .tuition-cost-container table tr td {
  padding: 0 2em;
}
body .student-services-section .student-services-container .tuition-information-container .tuition-equipment-container .equipment-title {
  padding: 0.5em 0;
}
body .student-services-section .student-services-container .tuition-information-container .tuition-equipment-container .equipment-list .equipment {
  list-style: none;
  margin: 0.2em 0;
}
body .footer-section {
  min-height: 520px;
  width: 100%;
  background-color: #171612;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  bottom: 0;
}
body .footer-section .footer-container {
  width: 1170px;
}
body .footer-section .footer-container .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .footer-section .footer-container .footer-top .footer-left {
  width: 33%;
}
body .footer-section .footer-container .footer-top .footer-left .footer-logo-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .footer-section .footer-container .footer-top .footer-left .footer-logo-container .footer-logo {
  height: 70px;
}
body .footer-section .footer-container .footer-top .footer-left .footer-logo-container .footer-logo-header {
  text-align: center;
  font-size: 1.7em;
  color: white;
}
body .footer-section .footer-container .footer-top .footer-left .footer-header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 2em 0;
  font-size: 1em;
  line-height: 1.5;
  color: #9a9693;
}
body .footer-section .footer-container .footer-top .footer-left .footer-contact-us-button {
  font-size: 1.5em;
  padding: 0.7em 1.8em;
  border: none;
  background-color: #ce9233;
  color: white;
  position: relative;
}
body .footer-section .footer-container .footer-top .footer-left .footer-contact-us-button.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #9a9693;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s all ease-out;
}
body .footer-section .footer-container .footer-top .footer-left .footer-contact-us-button.btn-background-slide:hover::before,
body .footer-section .footer-container .footer-top .footer-left .footer-contact-us-button.btn-background-slide:focus::before {
  transform: scaleX(1);
}
body .footer-section .footer-container .footer-top .footer-left .footer-contact-us-button.btn-background-slide {
  z-index: 1;
}
body .footer-section .footer-container .footer-top .footer-middle {
  width: 33%;
  padding: 0 3em;
  align-self: flex-start;
}
body .footer-section .footer-container .footer-top .footer-middle .footer-links-header {
  font-size: 1.8em;
  font-family: "Roboto", sans-serif;
  padding-bottom: 2em;
  color: white;
}
body .footer-section .footer-container .footer-top .footer-middle .footer-links-container {
  list-style: none;
}
body .footer-section .footer-container .footer-top .footer-middle .footer-links-container .footer-links {
  font-family: "Roboto", sans-serif;
}
body .footer-section .footer-container .footer-top .footer-middle .footer-links-container .footer-links i {
  margin: 0.4em 0;
  color: #ce9233;
}
body .footer-section .footer-container .footer-top .footer-middle .footer-links-container .footer-links a {
  text-decoration: none;
  margin-left: 0.4em;
  color: #9a9693;
}
body .footer-section .footer-container .footer-top .footer-right {
  width: 33%;
  padding: 0 2.7em;
  align-self: flex-start;
}
body .footer-section .footer-container .footer-top .footer-right .footer-contact-header {
  font-size: 1.8em;
  font-family: "Roboto", sans-serif;
  padding-bottom: 1em;
  color: white;
}
body .footer-section .footer-container .footer-top .footer-right .footer-contact-containers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  padding: 0.6em 0;
  border-bottom: 1px solid grey;
}
body .footer-section .footer-container .footer-top .footer-right .footer-contact-containers i {
  width: 30px;
  justify-self: flex-start;
  color: #ce9233;
}
body .footer-section .footer-container .footer-top .footer-right .footer-contact-containers .contact-header {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #9a9693;
}
body .footer-section .footer-container .footer-bottom {
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .footer-section .footer-container .footer-bottom .footer-socials-container i {
  font-size: 1.9em;
  margin: 0 0.3em;
  color: white;
  cursor: pointer;
}
body .footer-section .footer-container .footer-bottom .footer-copyright {
  font-family: "Roboto", sans-serif;
  padding-top: 1.3em;
  font-weight: 400;
  color: #ce9233;
}

@media (max-width: 1130px) {
  .footer-section {
    height: auto !important;
  }
  .footer-section .footer-container .footer-top {
    flex-direction: column !important;
  }
  .footer-section .footer-container .footer-top .footer-left {
    width: 100% !important;
    padding: 2em !important;
  }
  .footer-section .footer-container .footer-top .footer-middle {
    width: 100% !important;
  }
  .footer-section .footer-container .footer-top .footer-right {
    width: 100% !important;
  }
}
@media (max-width: 1000px) {
  .navigation-bar-right {
    display: none !important;
  }
  .navigation-bar-hamburger {
    visibility: visible !important;
  }
}
@media (max-width: 700px) {
  .student-services-section {
    text-align: center !important;
  }
  .student-services-section .requirements-list {
    list-style: none !important;
    margin-left: 0 !important;
  }
  .tuition-information-container {
    flex-direction: column !important;
  }
}
@keyframes right-to-left {
  100% {
    left: 0%;
  }
}
@keyframes left-to-right {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}/*# sourceMappingURL=student-services.css.map */